{% extends 'base.html.twig' %}
{% block title %}Ajouter Article{% endblock %}
{% block body %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }} <!--Pour desactiver la validation HTML 5 coté client au niveau du navigateur-->
{{ form_widget(form) }}
 <button type="submit" class="btn btn-success">Créer</button>
{{ form_end(form) }}
{% endblock %}